<%= turbo_stream_from "notifications" %>
<%= turbo_frame_tag "notifications" do %>
  <!-- Global notification live region, render this permanently at the end of the document -->
  <div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
    <div id="notification_list" class="flex w-full flex-col items-center space-y-4 sm:items-end">
      <!--
        Notification panel, dynamically insert this into the live region when it needs to be displayed

        Entering: "transform ease-out duration-300 transition"
          From: "translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
          To: "translate-y-0 opacity-100 sm:translate-x-0"
        Leaving: "transition ease-in duration-100"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <%= render partial: "notification", locals: { message: "" } %>
    </div>
  </div>
<% end %>

<%= render partial: "timer" %>

<div id="center">
  <div id="game">
    <div id="maze">
      <div id="end"></div>
    </div>
    <div id="joystick">
      <div class="joystick-arrow"></div>
      <div class="joystick-arrow"></div>
      <div class="joystick-arrow"></div>
      <div class="joystick-arrow"></div>
      <div id="joystick-head"></div>
    </div>
    <div id="note">
      Click The Joy-Stick To Start!
      <p>Move Every Ball To The Center. Ready For Hard Mode? Press H</p>
    </div>
  </div>
</div>

<%= turbo_stream_from "scores" %>
<%= turbo_frame_tag "scores" do %>
  <div id="leaderboard" class="my-24 mx-auto" style="width: 500px;">
    <%= render partial: "leaderboard", locals: {scores: @scores} %>
  </div>
<% end %>